body{
    margin: 0;
    padding: 0;
    border: 0;
}

h1{
    padding-left: 1vw;
}

p{
    padding-left: 1vw;
}

header{

    background-image: url("img/pattern.png");
    background-size:50vw;

    background-color: #4EA0FF;
    
}

#logo{
    padding-top: 2vh;
    padding-left: 2vw;
    height: 10vw;
}

.annotazione{
    margin-top: 0;
    color: rgb(131, 131, 131);
    font-weight: bold;
    font-size: medium;

    margin: 0;
    border: 0;
}

.annotazione_piccola{

    color: rgb(131, 131, 131);
    font-size:small;

    margin: 0;
    border: 0;
    padding-bottom: 1vw;
}

.images{
    padding-left: 1vw;
}

.images img{

    height: 35vw;
    text-align: center;
}

.fonti{
    font-size: small;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

table{
    padding-left: 1vw;
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color: aqua;
  }

th{
    background-color: #4EA0FF;
}

th, td {
    padding-left: 15px;
    padding-right: 15px;
}

.suggeriti{
    padding-left: 1vw;
}

.titoli_suggeriti{
    color: aliceblue;
    font-weight: bold;
    font-size: medium;

    position: absolute;
}