body{
    
}

header{

    background-image: url("img/pattern.png");
    background-size:50vw;

    background-color: #4EA0FF;
    
}

#logo{

    padding-top: 2vh;
    padding-left: 2vw;
    height: 10vw;

}